uc2-dc_environmental_monitoring-small_data/air5-eda-uc2-pipeline.json
{"flowContents":{"identifier":"c1718861-d51b-35b7-95e5-1e518befb0d8","instanceIdentifier":"568ed822-019b-1000-d716-c7a6267cbf8e","name":"air5-eda-uc2-pipeline","comments":"","position":{"x":-920.0,"y":-168.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3b9bacb7-86cc-399e-866b-7ec70bd85bea","instanceIdentifier":"f61a5c92-a158-31a3-fa84-288d4f05a9af","name":"InvokeHTTP","comments":"","position":{"x":-2008.0,"y":184.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Token air5-eda-secret-token","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://influxdb:8086/api/v2/write?org=air5-eda-org&bucket=air5-eda-uc2-data&precision=ns","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"text/plain","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"ad5332eb-fec1-3264-9fed-4119097f42bb","instanceIdentifier":"99c68047-cbaf-3928-c717-00e6a55b4e47","name":"GenerateFlowFile","comments":"","position":{"x":-1976.0,"y":-416.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":"[\n  {\n    \"bn\": \"urn:dev:mac:00:15:23:ac:82:11:\",\n    \"bt\": 1734645120,\n    \"bu\": \"Cel\"\n  },\n  { \"n\": \"temp\", \"v\": 21.8, \"t\": 0 }, { \"n\": \"hum\", \"v\": 42.5, \"t\": 0, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.9, \"t\": 60 }, { \"n\": \"hum\", \"v\": 42.6, \"t\": 60, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.0, \"t\": 120 }, { \"n\": \"hum\", \"v\": 42.6, \"t\": 120, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.1, \"t\": 180 }, { \"n\": \"hum\", \"v\": 42.7, \"t\": 180, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.2, \"t\": 240 }, { \"n\": \"hum\", \"v\": 42.8, \"t\": 240, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.1, \"t\": 300 }, { \"n\": \"hum\", \"v\": 42.8, \"t\": 300, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.0, \"t\": 360 }, { \"n\": \"hum\", \"v\": 42.9, \"t\": 360, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.9, \"t\": 420 }, { \"n\": \"hum\", \"v\": 43.0, \"t\": 420, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.8, \"t\": 480 }, { \"n\": \"hum\", \"v\": 43.1, \"t\": 480, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.7, \"t\": 540 }, { \"n\": \"hum\", \"v\": 43.1, \"t\": 540, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.6, \"t\": 600 }, { \"n\": \"hum\", \"v\": 43.2, \"t\": 600, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.5, \"t\": 660 }, { \"n\": \"hum\", \"v\": 43.3, \"t\": 660, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.5, \"t\": 720 }, { \"n\": \"hum\", \"v\": 43.4, \"t\": 720, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.6, \"t\": 780 }, { \"n\": \"hum\", \"v\": 43.5, \"t\": 780, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.7, \"t\": 840 }, { \"n\": \"hum\", \"v\": 43.5, \"t\": 840, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.8, \"t\": 900 }, { \"n\": \"hum\", \"v\": 43.6, \"t\": 900, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.9, \"t\": 960 }, { \"n\": \"hum\", \"v\": 43.7, \"t\": 960, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.0, \"t\": 1020 }, { \"n\": \"hum\", \"v\": 43.8, \"t\": 1020, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.1, \"t\": 1080 }, { \"n\": \"hum\", \"v\": 43.9, \"t\": 1080, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.2, \"t\": 1140 }, { \"n\": \"hum\", \"v\": 44.0, \"t\": 1140, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.3, \"t\": 1200 }, { \"n\": \"hum\", \"v\": 44.1, \"t\": 1200, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.4, \"t\": 1260 }, { \"n\": \"hum\", \"v\": 44.2, \"t\": 1260, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.5, \"t\": 1320 }, { \"n\": \"hum\", \"v\": 44.3, \"t\": 1320, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.5, \"t\": 1380 }, { \"n\": \"hum\", \"v\": 44.4, \"t\": 1380, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.4, \"t\": 1440 }, { \"n\": \"hum\", \"v\": 44.5, \"t\": 1440, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.3, \"t\": 1500 }, { \"n\": \"hum\", \"v\": 44.6, \"t\": 1500, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.2, \"t\": 1560 }, { \"n\": \"hum\", \"v\": 44.6, \"t\": 1560, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.1, \"t\": 1620 }, { \"n\": \"hum\", \"v\": 44.7, \"t\": 1620, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.0, \"t\": 1680 }, { \"n\": \"hum\", \"v\": 44.8, \"t\": 1680, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.9, \"t\": 1740 }, { \"n\": \"hum\", \"v\": 44.9, \"t\": 1740, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.8, \"t\": 1800 }, { \"n\": \"hum\", \"v\": 45.0, \"t\": 1800, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.8, \"t\": 1860 }, { \"n\": \"hum\", \"v\": 45.1, \"t\": 1860, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 21.9, \"t\": 1920 }, { \"n\": \"hum\", \"v\": 45.1, \"t\": 1920, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.0, \"t\": 1980 }, { \"n\": \"hum\", \"v\": 45.2, \"t\": 1980, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.1, \"t\": 2040 }, { \"n\": \"hum\", \"v\": 45.3, \"t\": 2040, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.2, \"t\": 2100 }, { \"n\": \"hum\", \"v\": 45.4, \"t\": 2100, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.3, \"t\": 2160 }, { \"n\": \"hum\", \"v\": 45.5, \"t\": 2160, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.4, \"t\": 2220 }, { \"n\": \"hum\", \"v\": 45.6, \"t\": 2220, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.5, \"t\": 2280 }, { \"n\": \"hum\", \"v\": 45.7, \"t\": 2280, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.6, \"t\": 2340 }, { \"n\": \"hum\", \"v\": 45.8, \"t\": 2340, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.7, \"t\": 2400 }, { \"n\": \"hum\", \"v\": 45.9, \"t\": 2400, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.8, \"t\": 2460 }, { \"n\": \"hum\", \"v\": 46.0, \"t\": 2460, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 22.9, \"t\": 2520 }, { \"n\": \"hum\", \"v\": 46.1, \"t\": 2520, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 23.0, \"t\": 2580 }, { \"n\": \"hum\", \"v\": 46.2, \"t\": 2580, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 23.1, \"t\": 2640 }, { \"n\": \"hum\", \"v\": 46.3, \"t\": 2640, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 23.2, \"t\": 2700 }, { \"n\": \"hum\", \"v\": 46.4, \"t\": 2700, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 23.3, \"t\": 2760 }, { \"n\": \"hum\", \"v\": 46.5, \"t\": 2760, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 23.4, \"t\": 2820 }, { \"n\": \"hum\", \"v\": 46.6, \"t\": 2820, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 23.5, \"t\": 2880 }, { \"n\": \"hum\", \"v\": 46.7, \"t\": 2880, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 23.6, \"t\": 2940 }, { \"n\": \"hum\", \"v\": 46.8, \"t\": 2940, \"u\": \"%EL\" },\n  { \"n\": \"temp\", \"v\": 23.7, \"t\": 3000 }, { \"n\": \"hum\", \"v\": 46.9, \"t\": 3000, \"u\": \"%EL\" }\n]\n","Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"66e367e6-8d4a-32a0-a9d9-9fffaf570918","instanceIdentifier":"2a640668-6d9b-34dc-6526-66ae15c41343","name":"PutS3Object","comments":"","position":{"x":-1264.0,"y":-408.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000/","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"air5-eda-uc2-bucket","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"45f61f1e-6874-37da-9ec7-301a7beebd43","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"d6589422-b3ff-33b0-9ac0-1205c2e4e57f","instanceIdentifier":"cb55067e-c852-3077-9142-6e16c916f164","name":"LogAttribute","comments":"","position":{"x":-1240.0,"y":112.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"8994fc16-7089-3a69-8962-1c678069f4ab","instanceIdentifier":"b96174d8-7062-366d-d9dd-96d7001c6834","name":"ExecuteGroovyScript","comments":"","position":{"x":-2016.0,"y":-96.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.7.0"},"properties":{"Script File":null,"Additional Classpath":null,"Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        def json = new JsonSlurper().parse(inputStream)\n        \n        // 1. Extract metadata from the first element\n        def metadata = json[0]\n        def baseName = metadata.bn.replace(\":\", \"\") // Clean MAC address\n        def baseTime = metadata.bt as Long\n        \n        def lineProtocolBuffer = new StringBuilder()\n\n        // 2. Iterate on measures (bypassing metadata first element)\n        json.eachWithIndex { entry, index ->\n            if (index == 0) return // Bypass header\n            \n            def name = entry.n\n            def value = entry.v\n            def offset = (entry.t ?: 0) as Long // If t misses, use 0\n            def timestamp = (baseTime + offset)*1000000000\n            \n            // 3. Build InfluxDB row: measurement,tag field timestamp\n            // Format: environment,sensor=MAC value=23.5 1734645120\n            lineProtocolBuffer.append(\"environment,sensor=${baseName} ${name}=${value} ${timestamp}\\n\")\n        }\n        \n        outputStream.write(lineProtocolBuffer.toString().getBytes(StandardCharsets.UTF_8))\n    } as StreamCallback)\n\n    // Set Content-Type for InvokeHTTP\n    flowFile = session.putAttribute(flowFile, \"mime.type\", \"text/plain\")\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    log.error(\"Error in Groovy transformation\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}","Failure Strategy":"rollback"},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Additional Classpath":{"name":"Additional Classpath","displayName":"Additional Classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e63ca85d-a7d3-39b6-80b3-e464bb8438dc","instanceIdentifier":"83929084-b811-3225-a4f6-e08f50a9f517","name":"","source":{"id":"3b9bacb7-86cc-399e-866b-7ec70bd85bea","type":"PROCESSOR","groupId":"c1718861-d51b-35b7-95e5-1e518befb0d8","name":"InvokeHTTP","comments":"","instanceIdentifier":"f61a5c92-a158-31a3-fa84-288d4f05a9af"},"destination":{"id":"d6589422-b3ff-33b0-9ac0-1205c2e4e57f","type":"PROCESSOR","groupId":"c1718861-d51b-35b7-95e5-1e518befb0d8","name":"LogAttribute","comments":"","instanceIdentifier":"cb55067e-c852-3077-9142-6e16c916f164"},"labelIndex":0,"zIndex":25,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"404f9135-0eeb-3ed5-bda8-adb6ed926107","instanceIdentifier":"f2c4b4b3-719d-34f5-4147-109ef3ca71df","name":"","source":{"id":"ad5332eb-fec1-3264-9fed-4119097f42bb","type":"PROCESSOR","groupId":"c1718861-d51b-35b7-95e5-1e518befb0d8","name":"GenerateFlowFile","comments":"","instanceIdentifier":"99c68047-cbaf-3928-c717-00e6a55b4e47"},"destination":{"id":"8994fc16-7089-3a69-8962-1c678069f4ab","type":"PROCESSOR","groupId":"c1718861-d51b-35b7-95e5-1e518befb0d8","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"b96174d8-7062-366d-d9dd-96d7001c6834"},"labelIndex":0,"zIndex":28,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"2fc86dfa-dce6-3840-bb48-9617aadc4bba","instanceIdentifier":"af7db256-ddc6-3b2e-3425-90b7828497e7","name":"","source":{"id":"8994fc16-7089-3a69-8962-1c678069f4ab","type":"PROCESSOR","groupId":"c1718861-d51b-35b7-95e5-1e518befb0d8","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"b96174d8-7062-366d-d9dd-96d7001c6834"},"destination":{"id":"3b9bacb7-86cc-399e-866b-7ec70bd85bea","type":"PROCESSOR","groupId":"c1718861-d51b-35b7-95e5-1e518befb0d8","name":"InvokeHTTP","comments":"","instanceIdentifier":"f61a5c92-a158-31a3-fa84-288d4f05a9af"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"61e75a19-8cbe-3001-9774-e1e6db76b690","instanceIdentifier":"29bfe927-3328-38a5-7d03-ed68990a9276","name":"","source":{"id":"ad5332eb-fec1-3264-9fed-4119097f42bb","type":"PROCESSOR","groupId":"c1718861-d51b-35b7-95e5-1e518befb0d8","name":"GenerateFlowFile","comments":"","instanceIdentifier":"99c68047-cbaf-3928-c717-00e6a55b4e47"},"destination":{"id":"66e367e6-8d4a-32a0-a9d9-9fffaf570918","type":"PROCESSOR","groupId":"c1718861-d51b-35b7-95e5-1e518befb0d8","name":"PutS3Object","comments":"","instanceIdentifier":"2a640668-6d9b-34dc-6526-66ae15c41343"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"}],"labels":[{"identifier":"2dd0e0ae-019b-1000-a2e3-0449dfd6aa6e","instanceIdentifier":"389073f8-9610-3223-4d57-58c7fe3fedae","position":{"x":-1248.0,"y":256.0},"label":"4 - Logging InfluxDB transactions","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"5696bbc1-019b-1000-b589-3026aece13b8","instanceIdentifier":"52d49480-f03e-36a6-4629-2d9d6301ad62","position":{"x":-2008.0,"y":328.0},"label":"3 - Writing data into InfluxDB","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"30d507f7-019b-1000-285d-169b41111960","instanceIdentifier":"776d8936-f9b1-3fb8-1cfa-efe34963ad72","position":{"x":-1976.0,"y":-472.0},"label":"1 - Submitting IoT dataset use case 2","zIndex":1,"width":352.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"35bb94de-019b-1000-0186-2d8188318aaf","instanceIdentifier":"3d471508-2af9-3f59-8b91-28518046559a","position":{"x":-2016.0,"y":-144.0},"label":"2b - Transforming input data into Line Protocol format (InfluxDB friendly) by using a groovy script","zIndex":1,"width":352.0,"height":40.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"},{"identifier":"2dcc56d7-019b-1000-aa04-d1fbf88b9480","instanceIdentifier":"bcce5e6a-92ed-38b7-b422-647de9372afb","position":{"x":-1264.0,"y":-464.0},"label":"2a - Storing IoT data into MinIO bucket\n","zIndex":1,"width":352.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"}],"funnels":[],"controllerServices":[{"identifier":"45f61f1e-6874-37da-9ec7-301a7beebd43","instanceIdentifier":"27f6802b-5d34-34b2-0f6a-22986ae1145e","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.0"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":null,"Use Default Credentials":"false","Assume Role External ID":null,"Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":null,"Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.7.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c1718861-d51b-35b7-95e5-1e518befb0d8"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}