uc4-robotic-arm-telemetry-large_data/air5-eda-uc4-pipeline-4.json
{"flowContents":{"identifier":"1c7dd12b-40c6-3378-9271-60f1eef81436","instanceIdentifier":"609400b1-019b-1000-8927-04d18123ec3b","name":"air5-eda-uc4-pipeline","comments":"","position":{"x":-418.0,"y":-312.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5769a92b-019b-1000-1d1c-d92d79074e13","instanceIdentifier":"8fb54deb-b1ae-3a82-48ac-1b75851b2487","name":"UpdateAttribute","comments":"","position":{"x":-720.0,"y":-64.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","current_amp":"${csv_row:getDelimitedField(5, ','):trim()}","axis_id":"${csv_row:getDelimitedField(3, ','):trim()}","robot_id":"${csv_row:getDelimitedField(2, ','):trim()}","vibration_mm_s":"${csv_row:getDelimitedField(7, ',')}","Cache Value Lookup Cache Size":"100","temp_cel":"${csv_row:getDelimitedField(6, ','):trim()}","timestamp_ns":"${csv_row:getDelimitedField(1, ','):trim():toDate(\"yyyy-MM-dd'T'HH:mm:ss\"):toNumber()}000000","Stateful Variables Initial Value":null,"pos_deg":"${csv_row:getDelimitedField(4, ','):trim()}","timestamp":"${csv_row:getDelimitedField(1, ','):trim()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"current_amp":{"name":"current_amp","displayName":"current_amp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"axis_id":{"name":"axis_id","displayName":"axis_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"robot_id":{"name":"robot_id","displayName":"robot_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"vibration_mm_s":{"name":"vibration_mm_s","displayName":"vibration_mm_s","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temp_cel":{"name":"temp_cel","displayName":"temp_cel","identifiesControllerService":false,"sensitive":false,"dynamic":true},"timestamp_ns":{"name":"timestamp_ns","displayName":"timestamp_ns","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pos_deg":{"name":"pos_deg","displayName":"pos_deg","identifiesControllerService":false,"sensitive":false,"dynamic":true},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"8caa593d-5978-36f5-a19d-a01f5d5d2953","instanceIdentifier":"609a7db6-019b-1000-42ba-f91cc2baa231","name":"SplitText","comments":"","position":{"x":-2064.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"ec1a736e-d86c-3f2d-905b-35c11f7626ab","instanceIdentifier":"60b02c81-019b-1000-8c75-8af9f098c788","name":"ReplaceText","comments":"","position":{"x":-96.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Replacement Value":"robot_metrics,robot_id=${robot_id},axis_id=${axis_id} pos_deg=${pos_deg},current_amp=${current_amp},temp_cel=${temp_cel},vibration_mm_s=${vibration_mm_s} ${timestamp_ns}","Search Value":".*","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a923-019b-1000-68cb-5af317b1aa7c","instanceIdentifier":"32e89f6a-10ad-332b-4be4-74fd4f409b7f","name":"InvokeHTTP","comments":"","position":{"x":-752.0,"y":224.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Token air5-eda-secret-token","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://influxdb:8086/api/v2/write?org=air5-eda-org&bucket=air5-eda-uc4-data&precision=ns","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"text/plain","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a929-019b-1000-f302-a28375331923","instanceIdentifier":"b14ee6f2-4ced-3648-8ab7-7de73a4f6a55","name":"MergeContent","comments":"","position":{"x":-80.0,"y":264.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Metadata Strategy":"Do Not Merge Uncommon Metadata","Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"5000","Maximum Number of Bins":"5","Minimum Group Size":"0 B","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Header":null,"Merge Format":"Binary Concatenation","Max Bin Age":null,"Footer":null,"Correlation Attribute Name":null,"Demarcator":"\n","Bin Termination Check":null,"Minimum Number of Entries":"100"},"propertyDescriptors":{"Metadata Strategy":{"name":"Metadata Strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Bins":{"name":"Maximum Number of Bins","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header":{"name":"Header","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer":{"name":"Footer","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator":{"name":"Demarcator","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"cdaf2b44-ec65-3018-ad66-27664a331e71","instanceIdentifier":"529ace50-e943-3c8a-2bad-4236d02c3599","name":"GetFile","comments":"","position":{"x":-2064.0,"y":-424.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/data_in","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*\\.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"03b47a9e-1cc3-3c7e-9cc4-83ed7c5b0865","instanceIdentifier":"61bc54c6-019b-1000-97fd-74d5936b9fb3","name":"ExtractText","comments":"","position":{"x":-1400.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Enable Repeating Capture Group":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","csv_row":"(.*)","Enable Multiline Mode":"true","Enable Named Groups":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Repeating Capture Group":{"name":"Enable Repeating Capture Group","displayName":"Enable Repeating Capture Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv_row":{"name":"csv_row","displayName":"csv_row","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Named Groups":{"name":"Enable Named Groups","displayName":"Enable Named Groups","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a92a-019b-1000-f090-a15a46d0b526","instanceIdentifier":"b3de992a-4a25-36d4-51d8-83e9fa4b3efe","name":"LogAttribute","comments":"","position":{"x":-1392.0,"y":248.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a926-019b-1000-3365-668731d55b1f","instanceIdentifier":"dbdbd1ab-98ee-3f31-20a4-6f22099a8f6a","name":"PutS3Object","comments":"","position":{"x":-1264.0,"y":-408.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000/","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"air5-eda-uc4-bucket","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"5769a922-019b-1000-e249-4fde46c8221c","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4d8fb994-8401-3280-bf0a-2d34b4eb71ee","instanceIdentifier":"dbdb6625-ba60-38ca-d91c-d0cfcbb10ef8","name":"","source":{"id":"cdaf2b44-ec65-3018-ad66-27664a331e71","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"GetFile","comments":"","instanceIdentifier":"529ace50-e943-3c8a-2bad-4236d02c3599"},"destination":{"id":"5769a926-019b-1000-3365-668731d55b1f","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"PutS3Object","comments":"","instanceIdentifier":"dbdbd1ab-98ee-3f31-20a4-6f22099a8f6a"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"e579a8b9-52fa-3c0d-98e4-424926c2e94d","instanceIdentifier":"609b6ef0-019b-1000-ae26-858373f889c0","name":"","source":{"id":"cdaf2b44-ec65-3018-ad66-27664a331e71","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"GetFile","comments":"","instanceIdentifier":"529ace50-e943-3c8a-2bad-4236d02c3599"},"destination":{"id":"8caa593d-5978-36f5-a19d-a01f5d5d2953","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"SplitText","comments":"","instanceIdentifier":"609a7db6-019b-1000-42ba-f91cc2baa231"},"labelIndex":0,"zIndex":27,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"d56da8f2-95d1-32e8-8de9-a8a111f2e05d","instanceIdentifier":"61bf0a31-019b-1000-890f-0953771f71a2","name":"","source":{"id":"8caa593d-5978-36f5-a19d-a01f5d5d2953","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"SplitText","comments":"","instanceIdentifier":"609a7db6-019b-1000-42ba-f91cc2baa231"},"destination":{"id":"03b47a9e-1cc3-3c7e-9cc4-83ed7c5b0865","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"ExtractText","comments":"","instanceIdentifier":"61bc54c6-019b-1000-97fd-74d5936b9fb3"},"labelIndex":0,"zIndex":32,"selectedRelationships":["original","splits","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a936-019b-1000-307e-efa04ba3740b","instanceIdentifier":"e0bd269c-68de-3087-f289-c9e5e27cdc35","name":"","source":{"id":"5769a923-019b-1000-68cb-5af317b1aa7c","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"InvokeHTTP","comments":"","instanceIdentifier":"32e89f6a-10ad-332b-4be4-74fd4f409b7f"},"destination":{"id":"5769a92a-019b-1000-f090-a15a46d0b526","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"LogAttribute","comments":"","instanceIdentifier":"b3de992a-4a25-36d4-51d8-83e9fa4b3efe"},"labelIndex":0,"zIndex":25,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"4274ce2d-a1d5-33f0-9a4e-a999dba53cb5","instanceIdentifier":"61bf2887-019b-1000-2d81-62ad31d3c417","name":"","source":{"id":"03b47a9e-1cc3-3c7e-9cc4-83ed7c5b0865","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"ExtractText","comments":"","instanceIdentifier":"61bc54c6-019b-1000-97fd-74d5936b9fb3"},"destination":{"id":"5769a92b-019b-1000-1d1c-d92d79074e13","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"UpdateAttribute","comments":"","instanceIdentifier":"8fb54deb-b1ae-3a82-48ac-1b75851b2487"},"labelIndex":0,"zIndex":33,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"89256c6d-d93c-31d0-a602-683bc91eae98","instanceIdentifier":"643d57aa-019b-1000-28e8-4d4649f0ffd4","name":"","source":{"id":"5769a926-019b-1000-3365-668731d55b1f","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"PutS3Object","comments":"","instanceIdentifier":"dbdbd1ab-98ee-3f31-20a4-6f22099a8f6a"},"destination":{"id":"fc02c2a0-6890-3733-ae39-2cedc0438b01","type":"FUNNEL","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"Funnel","comments":"","instanceIdentifier":"643d2a7c-019b-1000-5af7-00f565f9f3e5"},"labelIndex":0,"zIndex":35,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"cb49a19e-8c48-3bea-9e8e-5db69fc57720","instanceIdentifier":"60b95e5a-019b-1000-0df6-0879cdc02360","name":"","source":{"id":"ec1a736e-d86c-3f2d-905b-35c11f7626ab","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"ReplaceText","comments":"","instanceIdentifier":"60b02c81-019b-1000-8c75-8af9f098c788"},"destination":{"id":"5769a929-019b-1000-f302-a28375331923","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"MergeContent","comments":"","instanceIdentifier":"b14ee6f2-4ced-3648-8ab7-7de73a4f6a55"},"labelIndex":0,"zIndex":30,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"f558fe60-174f-32fe-b247-4c98bf2fbd64","instanceIdentifier":"62152dcb-019b-1000-05cd-1b2965725be1","name":"","source":{"id":"5769a92b-019b-1000-1d1c-d92d79074e13","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"UpdateAttribute","comments":"","instanceIdentifier":"8fb54deb-b1ae-3a82-48ac-1b75851b2487"},"destination":{"id":"ec1a736e-d86c-3f2d-905b-35c11f7626ab","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"ReplaceText","comments":"","instanceIdentifier":"60b02c81-019b-1000-8c75-8af9f098c788"},"labelIndex":0,"zIndex":34,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a93c-019b-1000-431d-554077321ef7","instanceIdentifier":"e2f85946-30b5-3928-0233-8b1b43cbb78f","name":"","source":{"id":"5769a929-019b-1000-f302-a28375331923","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"MergeContent","comments":"","instanceIdentifier":"b14ee6f2-4ced-3648-8ab7-7de73a4f6a55"},"destination":{"id":"5769a923-019b-1000-68cb-5af317b1aa7c","type":"PROCESSOR","groupId":"1c7dd12b-40c6-3378-9271-60f1eef81436","name":"InvokeHTTP","comments":"","instanceIdentifier":"32e89f6a-10ad-332b-4be4-74fd4f409b7f"},"labelIndex":0,"zIndex":24,"selectedRelationships":["failure","merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"}],"labels":[{"identifier":"5769a932-019b-1000-4fe0-1b95211f53ce","instanceIdentifier":"2925350e-c3f3-35c4-35b2-0170db9d7c92","position":{"x":-96.0,"y":-128.0},"label":"5 - Converting text data into Line Protocol format (InfluxDB friendly)","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a92e-019b-1000-584d-2e20982fd280","instanceIdentifier":"c6d3b05b-7f51-39ef-a231-9074a14a3cb9","position":{"x":-760.0,"y":368.0},"label":"7 - Writing data into InfluxDB","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"64565cf0-019b-1000-4cbd-daa5134a101e","instanceIdentifier":"c01dc188-76c4-350c-27de-67f7795010ab","position":{"x":-1408.0,"y":80.0},"label":"3 - Extracting each record","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a92f-019b-1000-a4d5-f5ffa8fca7e4","instanceIdentifier":"9dfe4f23-70d6-34fd-6b54-a4681b96114a","position":{"x":-2064.0,"y":-480.0},"label":"1 - Submitting IoT dataset use case 4","zIndex":1,"width":352.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a933-019b-1000-3272-bc2d4dfb95ef","instanceIdentifier":"fe32a5ba-0a1a-3e99-c6b6-ecf24c7d89e2","position":{"x":-1264.0,"y":-464.0},"label":"2a - Storing IoT data into MinIO bucket\n","zIndex":1,"width":352.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a930-019b-1000-99dd-6e3e81cad76f","instanceIdentifier":"b618d529-46b1-3dfb-8865-9cd7b1f9ba98","position":{"x":-2064.0,"y":72.0},"label":"2b - Splitting text data per single record","zIndex":1,"width":352.0,"height":40.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a92d-019b-1000-4bf4-e0c6f814e9ed","instanceIdentifier":"6f145efb-8488-3ad9-e686-7117b8e87ef9","position":{"x":-1392.0,"y":392.0},"label":"8 - Logging InfluxDB transactions","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a931-019b-1000-790d-ff23526ce70a","instanceIdentifier":"d10c0e86-6e4a-3424-5d44-a11e2ff499b1","position":{"x":-720.0,"y":80.0},"label":"4 - Extracting metadata and converting timestamp into nanoseconds","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"},{"identifier":"5769a934-019b-1000-7533-b0cc844451e0","instanceIdentifier":"a64c6850-b833-3387-deba-da28c4ed4a6a","position":{"x":-80.0,"y":408.0},"label":"6 - Merging data to submit to InfluxDB","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"}],"funnels":[{"identifier":"fc02c2a0-6890-3733-ae39-2cedc0438b01","instanceIdentifier":"643d2a7c-019b-1000-5af7-00f565f9f3e5","position":{"x":-585.0,"y":-323.0},"componentType":"FUNNEL","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"}],"controllerServices":[{"identifier":"5769a922-019b-1000-e249-4fde46c8221c","instanceIdentifier":"1cf86392-46f5-32c8-782b-cad556eb9162","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.0"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":null,"Use Default Credentials":"false","Assume Role External ID":null,"Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":null,"Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.7.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1c7dd12b-40c6-3378-9271-60f1eef81436"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}