uc1-electrical_panel_monitoring-small_data/air5-eda-uc1-pipeline.json
{"flowContents":{"identifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","instanceIdentifier":"464d2144-019b-1000-6a52-f2021b07de27","name":"air5-eda-uc1-pipeline","comments":"","position":{"x":-471.0,"y":-152.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"99e399d0-bfcc-3e2b-a063-90d5ac010ed5","instanceIdentifier":"f1b1715e-8936-360e-8cf8-f437720584cd","name":"FetchS3Object","comments":"","position":{"x":-96.0,"y":-384.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.0"},"properties":{"Endpoint Override URL":"http://minio:9000","Object Key":"${filename}","Proxy Configuration Service":null,"Range Start":null,"SSL Context Service":null,"Bucket":"air5-eda-uc1-bucket","Version":null,"AWS Credentials Provider Service":"45f61f1e-6874-37da-9ec7-301a7beebd43","Communications Timeout":"30 secs","Region":"us-west-2","Encryption Service":null,"Custom Region":null,"Requester Pays":"false","Range Length":null},"propertyDescriptors":{"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"3b9bacb7-86cc-399e-866b-7ec70bd85bea","instanceIdentifier":"0fc9d9b3-81db-3fcf-5e9e-e200e23eb334","name":"InvokeHTTP","comments":"","position":{"x":-512.0,"y":240.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Token air5-eda-secret-token","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://influxdb:8086/api/v2/write?org=air5-eda-org&bucket=air5-eda-uc1-data&precision=ns","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"text/plain","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"d0867a56-d20e-3eb9-90ff-efa0402dd820","instanceIdentifier":"b0d5556f-9e9c-327a-6e12-9afbbfca619f","name":"ListS3","comments":"","position":{"x":-776.0,"y":-400.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.0"},"properties":{"Entity Tracking Initial Listing Target":"all","Minimum Object Age":"0 sec","Delimiter":null,"Entity Tracking State Cache":null,"Maximum Object Age":null,"Endpoint Override URL":"http://minio:9000","List Type":"1","Prefix":null,"Write Object Tags":"false","Proxy Configuration Service":null,"Listing Batch Size":"100","SSL Context Service":null,"Bucket":"air5-eda-uc1-bucket","AWS Credentials Provider Service":"45f61f1e-6874-37da-9ec7-301a7beebd43","Communications Timeout":"30 secs","Region":"us-west-2","Record Writer":null,"Custom Region":null,"Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Write User Metadata":"false","Use Versions":"false","Requester Pays":"false"},"propertyDescriptors":{"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Object Age":{"name":"Minimum Object Age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter":{"name":"Delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Object Age":{"name":"Maximum Object Age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"List Type":{"name":"List Type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Object Tags":{"name":"Write Object Tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write User Metadata":{"name":"Write User Metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Versions":{"name":"Use Versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Requester Pays":{"name":"Requester Pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"ad5332eb-fec1-3264-9fed-4119097f42bb","instanceIdentifier":"79815b25-9fd1-3577-e7eb-60a00d24e48b","name":"GenerateFlowFile","comments":"","position":{"x":-1976.0,"y":-416.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":"[{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:04:12\",\"telemetry\":{\"temperature\":\"11.2\",\"humidity\":\"6.8\",\"pressure\":\"14.2\",\"battery\":\"3.45\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:48:55\",\"telemetry\":{\"temperature\":\"12.8\",\"humidity\":\"5.4\",\"pressure\":\"11.9\",\"battery\":\"3.32\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:15:30\",\"telemetry\":{\"temperature\":\"10.5\",\"humidity\":\"7.2\",\"pressure\":\"19.1\",\"battery\":\"3.58\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:32:04\",\"telemetry\":{\"temperature\":\"11.9\",\"humidity\":\"6.1\",\"pressure\":\"15.7\",\"battery\":\"3.41\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:07:44\",\"telemetry\":{\"temperature\":\"12.1\",\"humidity\":\"5.9\",\"pressure\":\"17.3\",\"battery\":\"3.37\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:22:18\",\"telemetry\":{\"temperature\":\"10.9\",\"humidity\":\"6.4\",\"pressure\":\"13.5\",\"battery\":\"3.54\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:55:01\",\"telemetry\":{\"temperature\":\"11.4\",\"humidity\":\"5.2\",\"pressure\":\"18.8\",\"battery\":\"3.49\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:11:12\",\"telemetry\":{\"temperature\":\"12.6\",\"humidity\":\"7.0\",\"pressure\":\"10.4\",\"battery\":\"3.31\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:39:25\",\"telemetry\":{\"temperature\":\"10.2\",\"humidity\":\"6.6\",\"pressure\":\"16.1\",\"battery\":\"3.59\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:02:50\",\"telemetry\":{\"temperature\":\"11.7\",\"humidity\":\"5.7\",\"pressure\":\"12.4\",\"battery\":\"3.43\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:28:40\",\"telemetry\":{\"temperature\":\"12.3\",\"humidity\":\"6.3\",\"pressure\":\"14.9\",\"battery\":\"3.35\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:51:15\",\"telemetry\":{\"temperature\":\"10.8\",\"humidity\":\"5.1\",\"pressure\":\"19.7\",\"battery\":\"3.56\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:19:08\",\"telemetry\":{\"temperature\":\"11.1\",\"humidity\":\"6.9\",\"pressure\":\"13.2\",\"battery\":\"3.48\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:43:59\",\"telemetry\":{\"temperature\":\"12.9\",\"humidity\":\"5.5\",\"pressure\":\"11.2\",\"battery\":\"3.33\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:05:33\",\"telemetry\":{\"temperature\":\"10.4\",\"humidity\":\"7.3\",\"pressure\":\"17.8\",\"battery\":\"3.51\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:24:47\",\"telemetry\":{\"temperature\":\"11.5\",\"humidity\":\"5.3\",\"pressure\":\"15.4\",\"battery\":\"3.42\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:57:20\",\"telemetry\":{\"temperature\":\"12.5\",\"humidity\":\"6.5\",\"pressure\":\"10.9\",\"battery\":\"3.39\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:13:54\",\"telemetry\":{\"temperature\":\"10.7\",\"humidity\":\"5.8\",\"pressure\":\"18.3\",\"battery\":\"3.57\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:36:10\",\"telemetry\":{\"temperature\":\"11.3\",\"humidity\":\"6.0\",\"pressure\":\"12.7\",\"battery\":\"3.46\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:46:22\",\"telemetry\":{\"temperature\":\"12.2\",\"humidity\":\"7.1\",\"pressure\":\"14.1\",\"battery\":\"3.34\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:09:15\",\"telemetry\":{\"temperature\":\"10.1\",\"humidity\":\"5.0\",\"pressure\":\"16.8\",\"battery\":\"3.60\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:30:58\",\"telemetry\":{\"temperature\":\"11.8\",\"humidity\":\"6.7\",\"pressure\":\"11.5\",\"battery\":\"3.44\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:53:40\",\"telemetry\":{\"temperature\":\"12.7\",\"humidity\":\"5.6\",\"pressure\":\"13.9\",\"battery\":\"3.36\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:17:21\",\"telemetry\":{\"temperature\":\"10.6\",\"humidity\":\"7.4\",\"pressure\":\"19.4\",\"battery\":\"3.53\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:41:05\",\"telemetry\":{\"temperature\":\"11.6\",\"humidity\":\"6.2\",\"pressure\":\"10.2\",\"battery\":\"3.47\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:25:12\",\"telemetry\":{\"temperature\":\"10.3\",\"humidity\":\"7.0\",\"pressure\":\"15.1\",\"battery\":\"3.55\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:14:45\",\"telemetry\":{\"temperature\":\"12.4\",\"humidity\":\"5.8\",\"pressure\":\"18.2\",\"battery\":\"3.38\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:49:33\",\"telemetry\":{\"temperature\":\"11.0\",\"humidity\":\"6.5\",\"pressure\":\"12.6\",\"battery\":\"3.42\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:06:50\",\"telemetry\":{\"temperature\":\"11.5\",\"humidity\":\"5.4\",\"pressure\":\"14.8\",\"battery\":\"3.51\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:33:18\",\"telemetry\":{\"temperature\":\"12.7\",\"humidity\":\"6.9\",\"pressure\":\"17.1\",\"battery\":\"3.31\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:58:22\",\"telemetry\":{\"temperature\":\"10.2\",\"humidity\":\"5.2\",\"pressure\":\"11.4\",\"battery\":\"3.59\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:21:40\",\"telemetry\":{\"temperature\":\"11.9\",\"humidity\":\"6.3\",\"pressure\":\"19.5\",\"battery\":\"3.40\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:44:55\",\"telemetry\":{\"temperature\":\"10.6\",\"humidity\":\"7.2\",\"pressure\":\"13.7\",\"battery\":\"3.54\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:10:05\",\"telemetry\":{\"temperature\":\"12.2\",\"humidity\":\"5.6\",\"pressure\":\"16.3\",\"battery\":\"3.34\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:37:30\",\"telemetry\":{\"temperature\":\"11.4\",\"humidity\":\"6.1\",\"pressure\":\"10.7\",\"battery\":\"3.47\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:01:15\",\"telemetry\":{\"temperature\":\"12.5\",\"humidity\":\"5.1\",\"pressure\":\"18.9\",\"battery\":\"3.32\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:27:50\",\"telemetry\":{\"temperature\":\"10.8\",\"humidity\":\"6.7\",\"pressure\":\"15.2\",\"battery\":\"3.58\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:52:44\",\"telemetry\":{\"temperature\":\"11.7\",\"humidity\":\"5.9\",\"pressure\":\"12.1\",\"battery\":\"3.43\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:16:33\",\"telemetry\":{\"temperature\":\"12.9\",\"humidity\":\"7.4\",\"pressure\":\"19.8\",\"battery\":\"3.30\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:42:20\",\"telemetry\":{\"temperature\":\"10.1\",\"humidity\":\"5.3\",\"pressure\":\"14.4\",\"battery\":\"3.60\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:08:40\",\"telemetry\":{\"temperature\":\"11.3\",\"humidity\":\"6.4\",\"pressure\":\"17.6\",\"battery\":\"3.48\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:35:55\",\"telemetry\":{\"temperature\":\"12.4\",\"humidity\":\"5.7\",\"pressure\":\"11.1\",\"battery\":\"3.36\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:59:10\",\"telemetry\":{\"temperature\":\"10.5\",\"humidity\":\"6.8\",\"pressure\":\"13.3\",\"battery\":\"3.52\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:23:05\",\"telemetry\":{\"temperature\":\"11.6\",\"humidity\":\"5.5\",\"pressure\":\"16.7\",\"battery\":\"3.44\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:47:15\",\"telemetry\":{\"temperature\":\"12.8\",\"humidity\":\"7.1\",\"pressure\":\"10.5\",\"battery\":\"3.31\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:12:40\",\"telemetry\":{\"temperature\":\"10.3\",\"humidity\":\"6.0\",\"pressure\":\"18.6\",\"battery\":\"3.57\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:38:50\",\"telemetry\":{\"temperature\":\"11.1\",\"humidity\":\"5.2\",\"pressure\":\"12.9\",\"battery\":\"3.49\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:03:22\",\"telemetry\":{\"temperature\":\"12.0\",\"humidity\":\"6.6\",\"pressure\":\"15.5\",\"battery\":\"3.37\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:29:55\",\"telemetry\":{\"temperature\":\"10.7\",\"humidity\":\"7.3\",\"pressure\":\"19.2\",\"battery\":\"3.53\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:54:18\",\"telemetry\":{\"temperature\":\"11.4\",\"humidity\":\"5.9\",\"pressure\":\"11.8\",\"battery\":\"3.46\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:18:45\",\"telemetry\":{\"temperature\":\"12.6\",\"humidity\":\"6.4\",\"pressure\":\"17.4\",\"battery\":\"3.33\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:45:30\",\"telemetry\":{\"temperature\":\"10.9\",\"humidity\":\"5.4\",\"pressure\":\"13.1\",\"battery\":\"3.50\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:11:55\",\"telemetry\":{\"temperature\":\"12.3\",\"humidity\":\"7.0\",\"pressure\":\"16.9\",\"battery\":\"3.35\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:31:40\",\"telemetry\":{\"temperature\":\"10.4\",\"humidity\":\"6.1\",\"pressure\":\"10.3\",\"battery\":\"3.56\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:56:55\",\"telemetry\":{\"temperature\":\"11.8\",\"humidity\":\"5.7\",\"pressure\":\"14.6\",\"battery\":\"3.41\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:20:10\",\"telemetry\":{\"temperature\":\"12.9\",\"humidity\":\"6.2\",\"pressure\":\"18.4\",\"battery\":\"3.31\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:40:25\",\"telemetry\":{\"temperature\":\"10.1\",\"humidity\":\"6.9\",\"pressure\":\"12.3\",\"battery\":\"3.59\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:05:50\",\"telemetry\":{\"temperature\":\"11.5\",\"humidity\":\"5.3\",\"pressure\":\"15.8\",\"battery\":\"3.48\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:26:15\",\"telemetry\":{\"temperature\":\"12.1\",\"humidity\":\"7.2\",\"pressure\":\"19.9\",\"battery\":\"3.34\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:50:40\",\"telemetry\":{\"temperature\":\"10.8\",\"humidity\":\"5.8\",\"pressure\":\"13.4\",\"battery\":\"3.52\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:14:05\",\"telemetry\":{\"temperature\":\"11.2\",\"humidity\":\"6.5\",\"pressure\":\"16.2\",\"battery\":\"3.44\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:34:30\",\"telemetry\":{\"temperature\":\"12.5\",\"humidity\":\"5.0\",\"pressure\":\"10.8\",\"battery\":\"3.32\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:57:45\",\"telemetry\":{\"temperature\":\"10.6\",\"humidity\":\"6.7\",\"pressure\":\"14.1\",\"battery\":\"3.55\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:22:20\",\"telemetry\":{\"temperature\":\"11.9\",\"humidity\":\"7.4\",\"pressure\":\"17.7\",\"battery\":\"3.40\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:48:10\",\"telemetry\":{\"temperature\":\"12.7\",\"humidity\":\"5.6\",\"pressure\":\"11.5\",\"battery\":\"3.33\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:13:25\",\"telemetry\":{\"temperature\":\"10.2\",\"humidity\":\"6.3\",\"pressure\":\"19.3\",\"battery\":\"3.58\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:39:50\",\"telemetry\":{\"temperature\":\"11.3\",\"humidity\":\"5.5\",\"pressure\":\"13.9\",\"battery\":\"3.47\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:02:15\",\"telemetry\":{\"temperature\":\"12.4\",\"humidity\":\"6.8\",\"pressure\":\"16.6\",\"battery\":\"3.36\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:28:30\",\"telemetry\":{\"temperature\":\"10.5\",\"humidity\":\"7.1\",\"pressure\":\"10.2\",\"battery\":\"3.54\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:51:55\",\"telemetry\":{\"temperature\":\"11.6\",\"humidity\":\"5.9\",\"pressure\":\"14.4\",\"battery\":\"3.43\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:17:10\",\"telemetry\":{\"temperature\":\"12.8\",\"humidity\":\"6.4\",\"pressure\":\"18.1\",\"battery\":\"3.31\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:43:45\",\"telemetry\":{\"temperature\":\"10.9\",\"humidity\":\"5.2\",\"pressure\":\"12.8\",\"battery\":\"3.51\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:09:05\",\"telemetry\":{\"temperature\":\"12.2\",\"humidity\":\"6.6\",\"pressure\":\"15.3\",\"battery\":\"3.35\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:30:20\",\"telemetry\":{\"temperature\":\"10.4\",\"humidity\":\"7.3\",\"pressure\":\"19.6\",\"battery\":\"3.56\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:55:35\",\"telemetry\":{\"temperature\":\"11.5\",\"humidity\":\"5.4\",\"pressure\":\"11.2\",\"battery\":\"3.42\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:21:00\",\"telemetry\":{\"temperature\":\"12.6\",\"humidity\":\"6.1\",\"pressure\":\"14.9\",\"battery\":\"3.32\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:46:15\",\"telemetry\":{\"temperature\":\"10.7\",\"humidity\":\"7.0\",\"pressure\":\"18.5\",\"battery\":\"3.53\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:11:40\",\"telemetry\":{\"temperature\":\"11.8\",\"humidity\":\"5.7\",\"pressure\":\"13.6\",\"battery\":\"3.41\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:37:05\",\"telemetry\":{\"temperature\":\"12.9\",\"humidity\":\"6.3\",\"pressure\":\"17.2\",\"battery\":\"3.30\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:04:30\",\"telemetry\":{\"temperature\":\"10.2\",\"humidity\":\"7.4\",\"pressure\":\"10.6\",\"battery\":\"3.59\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:25:55\",\"telemetry\":{\"temperature\":\"11.3\",\"humidity\":\"5.1\",\"pressure\":\"15.1\",\"battery\":\"3.48\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:50:20\",\"telemetry\":{\"temperature\":\"12.4\",\"humidity\":\"6.5\",\"pressure\":\"18.8\",\"battery\":\"3.34\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:15:45\",\"telemetry\":{\"temperature\":\"10.6\",\"humidity\":\"5.8\",\"pressure\":\"12.1\",\"battery\":\"3.52\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:41:10\",\"telemetry\":{\"temperature\":\"11.7\",\"humidity\":\"6.9\",\"pressure\":\"16.5\",\"battery\":\"3.44\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:07:35\",\"telemetry\":{\"temperature\":\"12.8\",\"humidity\":\"5.3\",\"pressure\":\"10.9\",\"battery\":\"3.31\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:33:50\",\"telemetry\":{\"temperature\":\"10.9\",\"humidity\":\"6.0\",\"pressure\":\"14.2\",\"battery\":\"3.55\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:58:15\",\"telemetry\":{\"temperature\":\"12.0\",\"humidity\":\"7.2\",\"pressure\":\"17.8\",\"battery\":\"3.38\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:24:40\",\"telemetry\":{\"temperature\":\"10.3\",\"humidity\":\"5.6\",\"pressure\":\"11.4\",\"battery\":\"3.50\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:49:05\",\"telemetry\":{\"temperature\":\"11.4\",\"humidity\":\"6.7\",\"pressure\":\"15.7\",\"battery\":\"3.42\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:14:30\",\"telemetry\":{\"temperature\":\"12.5\",\"humidity\":\"5.0\",\"pressure\":\"19.4\",\"battery\":\"3.31\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:40:55\",\"telemetry\":{\"temperature\":\"10.8\",\"humidity\":\"6.2\",\"pressure\":\"13.2\",\"battery\":\"3.57\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:06:20\",\"telemetry\":{\"temperature\":\"12.1\",\"humidity\":\"7.1\",\"pressure\":\"16.8\",\"battery\":\"3.35\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:31:45\",\"telemetry\":{\"temperature\":\"10.1\",\"humidity\":\"5.5\",\"pressure\":\"10.1\",\"battery\":\"3.59\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:56:10\",\"telemetry\":{\"temperature\":\"11.2\",\"humidity\":\"6.6\",\"pressure\":\"14.7\",\"battery\":\"3.46\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:21:35\",\"telemetry\":{\"temperature\":\"12.3\",\"humidity\":\"5.9\",\"pressure\":\"18.3\",\"battery\":\"3.33\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:47:00\",\"telemetry\":{\"temperature\":\"10.5\",\"humidity\":\"7.3\",\"pressure\":\"12.6\",\"battery\":\"3.52\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-R\",\"timestamp\":\"2025-11-10 10:12:25\",\"telemetry\":{\"temperature\":\"11.6\",\"humidity\":\"5.2\",\"pressure\":\"16.1\",\"battery\":\"3.43\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-S\",\"timestamp\":\"2025-11-10 10:38:50\",\"telemetry\":{\"temperature\":\"12.7\",\"humidity\":\"6.8\",\"pressure\":\"11.0\",\"battery\":\"3.30\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-T\",\"timestamp\":\"2025-11-10 10:03:15\",\"telemetry\":{\"temperature\":\"10.4\",\"humidity\":\"5.0\",\"pressure\":\"15.4\",\"battery\":\"3.56\"},\"status\":\"operational\"}},{\"operation\":\"EP-G02-monitoring\",\"spec\":{\"deviceId\":\"sensor-N\",\"timestamp\":\"2025-11-10 10:29:40\",\"telemetry\":{\"temperature\":\"11.5\",\"humidity\":\"6.4\",\"pressure\":\"19.1\",\"battery\":\"3.40\"},\"status\":\"operational\"}}]","Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"de979009-45fc-35a0-b68a-aa1598e90196","instanceIdentifier":"729bca45-a907-3674-cf79-54ef42c0dfcc","name":"SplitJson","comments":"","position":{"x":-1992.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"66e367e6-8d4a-32a0-a9d9-9fffaf570918","instanceIdentifier":"c52387c7-fdbf-3879-cbbd-02a42d82b1d7","name":"PutS3Object","comments":"","position":{"x":-1264.0,"y":-408.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000/","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"air5-eda-uc1-bucket","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"45f61f1e-6874-37da-9ec7-301a7beebd43","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"30ea9432-019b-1000-8619-f67987c36729","instanceIdentifier":"eb55e844-934a-34c6-ec31-9f7c151c4fa8","name":"EvaluateJsonPath","comments":"","position":{"x":-1264.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","temperature":"$.spec.telemetry.temperature","humidity":"$.spec.telemetry.humidity","Null Value Representation":"empty string","pressure":"$.spec.telemetry.pressure","battery":"$.spec.telemetry.battery","deviceId":"$.spec.deviceId","Path Not Found Behavior":"ignore","status":"$.spec.status","timestamp":"$.spec.timestamp"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temperature":{"name":"temperature","displayName":"temperature","identifiesControllerService":false,"sensitive":false,"dynamic":true},"humidity":{"name":"humidity","displayName":"humidity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pressure":{"name":"pressure","displayName":"pressure","identifiesControllerService":false,"sensitive":false,"dynamic":true},"battery":{"name":"battery","displayName":"battery","identifiesControllerService":false,"sensitive":false,"dynamic":true},"deviceId":{"name":"deviceId","displayName":"deviceId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"30d4cfc1-019b-1000-3e14-f9bffc669ba4","instanceIdentifier":"f2d73c66-0918-3331-0b3e-3f8399e28b4d","name":"ReplaceText","comments":"","position":{"x":120.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Replacement Value":"environment,deviceId=${deviceId},status=${status} temperature=${temperature},humidity=${humidity},pressure=${pressure},battery=${battery} ${epoch_timestamp}\n","Search Value":"(?s)(^.*$)","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"1c13729f-fe99-33bc-aca0-4969d1fb1d08","instanceIdentifier":"2df75c63-7706-3bc0-acbb-cc110e1812b0","name":"MergeContent","comments":"","position":{"x":120.0,"y":248.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Metadata Strategy":"Do Not Merge Uncommon Metadata","Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Maximum Number of Bins":"5","Minimum Group Size":"0 B","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Header":null,"Merge Format":"Binary Concatenation","Max Bin Age":null,"Footer":null,"Correlation Attribute Name":null,"Demarcator":"\n","Bin Termination Check":null,"Minimum Number of Entries":"10"},"propertyDescriptors":{"Metadata Strategy":{"name":"Metadata Strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Bins":{"name":"Maximum Number of Bins","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header":{"name":"Header","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer":{"name":"Footer","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator":{"name":"Demarcator","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"d6589422-b3ff-33b0-9ac0-1205c2e4e57f","instanceIdentifier":"86cf54f5-5607-3551-2c11-d8c69396cb53","name":"LogAttribute","comments":"","position":{"x":-1064.0,"y":240.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"30ed3d98-019b-1000-7798-db065ba64274","instanceIdentifier":"46efc539-190c-3ba5-db47-b6237da84a4a","name":"UpdateAttribute","comments":"","position":{"x":-624.0,"y":-64.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"epoch_timestamp":"${timestamp:toDate(\"yyyy-MM-dd HH:mm:ss\",\"UTC\"):toNumber():multiply(1000000)}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"epoch_timestamp":{"name":"epoch_timestamp","displayName":"epoch_timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"787f7525-dd5c-3e09-b532-bf40448248fc","instanceIdentifier":"9bb50e74-0cbe-3549-366f-32e2cf494f6a","name":"","source":{"id":"ad5332eb-fec1-3264-9fed-4119097f42bb","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"GenerateFlowFile","comments":"","instanceIdentifier":"79815b25-9fd1-3577-e7eb-60a00d24e48b"},"destination":{"id":"de979009-45fc-35a0-b68a-aa1598e90196","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"SplitJson","comments":"","instanceIdentifier":"729bca45-a907-3674-cf79-54ef42c0dfcc"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"5c0ae243-7f37-3885-a566-d7116b8c9f86","instanceIdentifier":"d7044d51-9e1e-3689-b91b-75008fa197db","name":"","source":{"id":"99e399d0-bfcc-3e2b-a063-90d5ac010ed5","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"FetchS3Object","comments":"","instanceIdentifier":"f1b1715e-8936-360e-8cf8-f437720584cd"},"destination":{"id":"f8289bac-9238-35c5-99a5-19a3f9261988","type":"FUNNEL","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"Funnel","comments":"","instanceIdentifier":"4dc5d2ab-2af3-331d-3043-0290230c91b9"},"labelIndex":0,"zIndex":27,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"e63ca85d-a7d3-39b6-80b3-e464bb8438dc","instanceIdentifier":"93cfcd23-7f0d-38b6-af60-9d147f38f87e","name":"","source":{"id":"3b9bacb7-86cc-399e-866b-7ec70bd85bea","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"InvokeHTTP","comments":"","instanceIdentifier":"0fc9d9b3-81db-3fcf-5e9e-e200e23eb334"},"destination":{"id":"d6589422-b3ff-33b0-9ac0-1205c2e4e57f","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"LogAttribute","comments":"","instanceIdentifier":"86cf54f5-5607-3551-2c11-d8c69396cb53"},"labelIndex":0,"zIndex":25,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"fcaa3ca5-f719-3ae4-8d1d-69793acbacca","instanceIdentifier":"87333019-0a08-31f6-59cd-c26aae6c38ac","name":"","source":{"id":"de979009-45fc-35a0-b68a-aa1598e90196","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"SplitJson","comments":"","instanceIdentifier":"729bca45-a907-3674-cf79-54ef42c0dfcc"},"destination":{"id":"30ea9432-019b-1000-8619-f67987c36729","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"eb55e844-934a-34c6-ec31-9f7c151c4fa8"},"labelIndex":0,"zIndex":21,"selectedRelationships":["split","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"e5f7c7b4-bec5-383e-8528-cf0656cd443f","instanceIdentifier":"5fd841b9-dad9-3f41-a79c-f70341361155","name":"","source":{"id":"30ed3d98-019b-1000-7798-db065ba64274","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"UpdateAttribute","comments":"","instanceIdentifier":"46efc539-190c-3ba5-db47-b6237da84a4a"},"destination":{"id":"30d4cfc1-019b-1000-3e14-f9bffc669ba4","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"ReplaceText","comments":"","instanceIdentifier":"f2d73c66-0918-3331-0b3e-3f8399e28b4d"},"labelIndex":0,"zIndex":22,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"d4c949e9-9b0c-38e7-ba1e-fd75908d0035","instanceIdentifier":"c1546d64-fe75-30ed-bc19-636039fc0459","name":"","source":{"id":"30ea9432-019b-1000-8619-f67987c36729","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"eb55e844-934a-34c6-ec31-9f7c151c4fa8"},"destination":{"id":"30ed3d98-019b-1000-7798-db065ba64274","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"UpdateAttribute","comments":"","instanceIdentifier":"46efc539-190c-3ba5-db47-b6237da84a4a"},"labelIndex":0,"zIndex":17,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"61e75a19-8cbe-3001-9774-e1e6db76b690","instanceIdentifier":"5432e88f-7e25-383d-4424-daa3737c614d","name":"","source":{"id":"ad5332eb-fec1-3264-9fed-4119097f42bb","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"GenerateFlowFile","comments":"","instanceIdentifier":"79815b25-9fd1-3577-e7eb-60a00d24e48b"},"destination":{"id":"66e367e6-8d4a-32a0-a9d9-9fffaf570918","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"PutS3Object","comments":"","instanceIdentifier":"c52387c7-fdbf-3879-cbbd-02a42d82b1d7"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"23ee9ff4-2c39-344f-9a05-54478ec07fe6","instanceIdentifier":"f345d2ea-a4f8-3501-c715-700e63d4222f","name":"","source":{"id":"30d4cfc1-019b-1000-3e14-f9bffc669ba4","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"ReplaceText","comments":"","instanceIdentifier":"f2d73c66-0918-3331-0b3e-3f8399e28b4d"},"destination":{"id":"1c13729f-fe99-33bc-aca0-4969d1fb1d08","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"MergeContent","comments":"","instanceIdentifier":"2df75c63-7706-3bc0-acbb-cc110e1812b0"},"labelIndex":0,"zIndex":23,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"b5ca91e5-40fb-3836-8748-78d6b287cc2f","instanceIdentifier":"93cbbef3-d31a-3b30-ae80-9bb7fbedb6c0","name":"","source":{"id":"d0867a56-d20e-3eb9-90ff-efa0402dd820","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"ListS3","comments":"","instanceIdentifier":"b0d5556f-9e9c-327a-6e12-9afbbfca619f"},"destination":{"id":"99e399d0-bfcc-3e2b-a063-90d5ac010ed5","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"FetchS3Object","comments":"","instanceIdentifier":"f1b1715e-8936-360e-8cf8-f437720584cd"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"59bd9386-62a3-3c81-87b9-8dbc69347062","instanceIdentifier":"9525a5ae-d34b-3411-a9a6-3143be0aabc8","name":"","source":{"id":"1c13729f-fe99-33bc-aca0-4969d1fb1d08","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"MergeContent","comments":"","instanceIdentifier":"2df75c63-7706-3bc0-acbb-cc110e1812b0"},"destination":{"id":"3b9bacb7-86cc-399e-866b-7ec70bd85bea","type":"PROCESSOR","groupId":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1","name":"InvokeHTTP","comments":"","instanceIdentifier":"0fc9d9b3-81db-3fcf-5e9e-e200e23eb334"},"labelIndex":0,"zIndex":24,"selectedRelationships":["failure","merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"}],"labels":[{"identifier":"2dce48a7-019b-1000-4738-c3b04e9b4c4b","instanceIdentifier":"544a511a-e2fa-3ab4-be57-dd633e1f6775","position":{"x":-1272.0,"y":96.0},"label":"3 - Extracting single fields from records","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"2dd0e0ae-019b-1000-a2e3-0449dfd6aa6e","instanceIdentifier":"05458c8b-b4b8-3006-fbb4-8780cb369e28","position":{"x":-1072.0,"y":384.0},"label":"8 - Logging InfluxDB transactions","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"2dd04479-019b-1000-f766-1411c09ff711","instanceIdentifier":"964e3f07-87d5-3e3e-5504-d92e8f712fc6","position":{"x":-512.0,"y":384.0},"label":"7 - Writing data into InfluxDB","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"30d507f7-019b-1000-285d-169b41111960","instanceIdentifier":"77b59ff5-16ef-3014-29c7-e43ab8a454d4","position":{"x":-1976.0,"y":-472.0},"label":"1 - Submitting IoT dataset use case 1","zIndex":1,"width":352.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"35bb94de-019b-1000-0186-2d8188318aaf","instanceIdentifier":"0d961c78-3680-3788-8ac3-ac60b92bb0fd","position":{"x":-1992.0,"y":96.0},"label":"2b - Splitting JSON data per single record","zIndex":1,"width":352.0,"height":40.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"2dcd085f-019b-1000-b4d4-94d8a7f24a17","instanceIdentifier":"38035b6d-1490-3da6-4acc-2c31de34ce4d","position":{"x":-776.0,"y":-456.0},"label":"TBC - Listing data from MinIO bucket","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"30ed58ef-019b-1000-4527-39d56f239c1f","instanceIdentifier":"d15b3972-ef0e-37bb-d024-8a545f70549e","position":{"x":-616.0,"y":88.0},"label":"4 - Normalizing timestamp field","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"2df3e251-019b-1000-8127-d3aea6864af6","instanceIdentifier":"9564e37b-8144-30a3-ce73-393ed20d748e","position":{"x":120.0,"y":-112.0},"label":"5 - Converting JSON data into Line Protocol format (InfluxDB friendly)","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"2dcc56d7-019b-1000-aa04-d1fbf88b9480","instanceIdentifier":"458080a8-7174-3f19-7b2c-8a10a4faf1ff","position":{"x":-1264.0,"y":-464.0},"label":"2a - Storing IoT data into MinIO bucket\n","zIndex":1,"width":352.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"2dcdae17-019b-1000-8e1c-51e5c6245c1e","instanceIdentifier":"f0180f9c-8107-3080-64db-1761123e8cec","position":{"x":-104.0,"y":-448.0},"label":"TBC - Retrieving data from MinIO for various uses","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"},{"identifier":"3617c747-019b-1000-c9a9-394f4a385578","instanceIdentifier":"41c31405-ca65-3ecb-aef3-1daa67483f4b","position":{"x":120.0,"y":392.0},"label":"6 - Merging data to submit to InfluxDB","zIndex":1,"width":360.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"}],"funnels":[{"identifier":"f8289bac-9238-35c5-99a5-19a3f9261988","instanceIdentifier":"4dc5d2ab-2af3-331d-3043-0290230c91b9","position":{"x":576.0,"y":-336.0},"componentType":"FUNNEL","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"}],"controllerServices":[{"identifier":"45f61f1e-6874-37da-9ec7-301a7beebd43","instanceIdentifier":"14207e18-362f-3ece-a25d-5a16966cdeb9","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.0"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":null,"Use Default Credentials":"false","Assume Role External ID":null,"Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":null,"Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.7.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8e6a540c-fb40-3c9d-8cc2-7ab4d15376c1"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}